* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: sans-serif;
  color: white;
  background-color: #141d2f;
}
.container-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 2.3rem;
  margin-top: 10rem;
  margin-left: 15rem;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 50rem;
  height: 4.3rem;
  border-radius: 0.9rem;
  margin-top: 4rem;
  margin-left: 15rem;
  background-color: #1e2a47;
}
.logo-sun {
  margin-left: 36rem;
  margin-top: 0rem;
  border: none;
  color: #90a4d4;
  background-color: #141d2f;
  cursor: pointer;
}
.placeholder {
  margin-left: -25rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.5rem;
  color: #fff;
  background-color: #1e2a47;
  border: none;
}
.search-btn {
  width: 6rem;
  height: 3.1rem;
  margin-right: 0.6rem;
  background-color: #60abff;
  color: #ffff;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1rem;
  line-height: 1.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 10rem auto auto;
  grid-gap: 1rem;
  width: 50rem;
  height: 29rem;
  margin-left: 15rem;
  margin-top: 3rem;
  border-radius: 0.9rem;
  background-color: #1e2a47;
}
.item1 {
  grid-column: 1/2;
  grid-row: 1/4;
}
.cat-photo {
  width: 9rem;
  height: 9rem;
  border: 0.4rem;
  margin-top: 1.6rem;
  margin-left: 1.6rem;
  border-radius: 12rem;
}
.item2 {
  grid-column: 2/3;
  grid-row: 1/2;
}
.otoCat-text {
  margin-top: 1.4rem;
  margin-left: 0.5rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.4rem;
}
.joined {
  margin-top: -1.8rem;
  margin-left: 25rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
}
.atotoCat {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-left: 0.5rem;
  color: #0079ff;
}
.nobio {
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.3rem;
  margin-left: 0.5rem;
  margin-top: 3rem;
}
.nobio-lorem {
  display: none;
  margin-top: 2rem;
  margin-left: 0.5rem;
  width: 29rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.5;
  color: #ffff;
}
.item3 {
  width: 33rem;
  height: 6.3rem;
  margin-top: 0.4rem;
  background-color: #141d2f;
  border-radius: 0.6rem;
}
.repos {
  margin-left: 1.9rem;
  margin-top: 1.5rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.1rem;
  color: #ffffff;
}
.pone {
  margin-left: 1.9rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.5rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.folowers {
  margin-left: 12rem;
  margin-top: -3rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.1rem;
  color: #ffffff;
}
.ptwo {
  margin-left: 12rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.3rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.following {
  margin-left: 23rem;
  margin-top: -3.1rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 1.1rem;
  color: #ffffff;
}
.pthree {
  margin-left: 23rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 700;
  font-size: 1.4rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #ffffff;
}
.item4 {
  grid-column: 2/3;
  grid-row: 3/4;
  width: 28rem;
  height: 7rem;
}
.location {
  margin: 0;
  margin-top: 0.5rem;
}
.sanfrancisco {
  margin-left: 1.4rem;
  margin-top: -1.3rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: #ffffff;
}
.link-logo {
  margin-top: 1rem;
}
.link {
  cursor: pointer;
  margin-top: 0.5rem;
  text-decoration: none;
  color: blue;
}
.tweeter-logo {
  margin-left: 5rem;
}
.available {
  margin-top: -3.7rem;
  margin-left: 17.5rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 1.3rem;
  color: #ffffff5f;
}
.company-logo {
  margin-top: 1.3rem;
  margin-left: 15rem;
}
.github-link {
  margin-top: -1rem;
  padding-left: 0.8rem;
  font-family: "Space Mono";
  font-style: normal;
  font-weight: 400;
  font-size: 1rem;
  line-height: 1.3rem;
  color: #ffffff;
  text-decoration: none;
}

@media screen and (max-width: 1440px) {
  .container-nav {
    width: 45rem;
    height: 4.3rem;
  }
  .logo-sun {
    margin-left: 30rem;
  }
  .container {
    width: 45rem;
  }
  .searchLogo {
    padding-left: 2rem;
  }
  .placeholder {
    margin-left: -17rem;
  }
  .search-btn {
    margin-left: -3rem;
    padding: 0.3rem 1rem 0.3rem 1rem;
  }
  .grid-container {
    width: 45rem;
    height: 27.7rem;
  }
  .cat-photo {
    width: 7.3rem;
    height: 7.3rem;
  }
  .joined {
    margin-left: 23rem;
  }
  .item3 {
    width: 30rem;
    height: 5.3rem;
  }
  .repos {
    margin-left: 1.8rem;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .pone {
    margin-left: 1.8rem;
    font-size: 1.3rem;
  }
  .folowers {
    font-size: 0.8rem;
  }
  .following {
    font-size: 0.8rem;
  }
  .pthree {
    font-size: 1.3rem;
  }
  .item4 {
    width: 25rem;
  }
  .sanfrancisco {
    font-size: 0.9rem;
  }
  .available {
    font-size: 0.9rem;
  }
  .github-link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width: 768px) {
  .container-nav {
    width: 35.8rem;
    height: 1.3rem;
  }
  .logo-sun {
    margin-left: 28rem;
  }
  .container {
    width: 35.8rem;
  }
  .searchLogo {
    padding-left: 1.5rem;
  }
  .placeholder {
    margin-left: -20rem;
  }
  .search-btn {
    width: 5rem;
    height: 1.5rem;
    padding: 1rem 4.7rem 2.5rem 1.8rem;
    margin: 0.3rem 0.6rem 0.3rem -11rem;
    font-size: 1.2rem;
  }
  .grid-container {
    grid-template-columns: auto;
    grid-template-rows: 10rem auto auto;
    width: 35.8rem;
    height: 30rem;
  }
  .item1 {
    grid-column: 1/2;
  }
  .cat-photo {
    width: 7.3rem;
    height: 7.3rem;
  }
  .item2 {
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .otoCat-text {
    margin-left: 11rem;
  }
  .joined {
    margin-top: 2rem;
    margin-left: 11rem;
  }
  .atotoCat {
    margin-left: 11rem;
    margin-top: -3.5rem;
  }
  .nobio {
    display: none;
  }
  .nobio-lorem {
    display: inline-block;
    margin-top: 5rem;
    margin-left: 2.5rem;
  }
  .item3 {
    width: 30rem;
    height: 5.3rem;
    margin-top: 3rem;
    margin-left: -11rem;
  }
  .repos {
    margin-left: 1.8rem;
    margin-top: 1rem;
    font-size: 0.8rem;
  }
  .pone {
    margin-left: 1.8rem;
    font-size: 1.3rem;
  }
  .folowers {
    font-size: 0.8rem;
  }
  .following {
    font-size: 0.8rem;
  }
  .pthree {
    font-size: 1.3rem;
  }
  .item4 {
    margin-left: -11rem;
    width: 25rem;
  }
  .sanfrancisco {
    font-size: 0.9rem;
  }
  .link-logo {
    margin-top: 1rem;
  }
  .available {
    font-size: 0.9rem;
  }
  .github-link {
    font-size: 0.9rem;
  }
}
@media screen and (max-width:375px) {
  .container-nav {
    width: 20.4rem;
    height: 2.3rem;
  }
  .logo-sun {
    margin-left: 10rem;
  }
  .placeholder{
    margin-left: -10rem;
    font-weight: 200;
    font-size: 0.8rem;
  }
  .search-btn {
    padding: 0.4rem 4.3rem 1.9rem 1.1rem;
    margin: 0.3rem 0.6rem 0.3rem -11rem;
    font-size: 1.1rem;
  }
  .container{
    width: 20.4rem;
    height: 3.7rem;
  }
  .grid-container {
    width: 20.4rem;
    height: 32.3rem;
  }
  .cat-photo {
    width: 4.3rem;
    height: 4.3rem;
  }
  .otoCat-text {
    margin-left: 8rem;
    font-size: 1rem;
  }
  .atotoCat {
    margin-left: 8rem;
    margin-top: -3rem;
    font-size: 0.8rem;
  }
  .joined {
    margin-top: 0.8rem;
    margin-left: 8rem;
    font-size: 0.8rem;
  }
  .nobio-lorem {
    display: inline-block;
    width: 16.5rem;
    margin-top: 3rem;
    margin-left: 2rem;
  }
  .item3 {
    width: 17.4rem;
    height: 5.3rem;
    margin-top: 2rem;
    margin-left: -5.5rem;
  }
  .repos {
    margin-left: 1.8rem;
    margin-top: 1rem;
    font-size: 0.6rem;
  }
  .pone {
    margin-left: 1.8rem;
    font-size: 1rem;
  }
  .folowers {
    font-size: 0.6rem;
    margin-left: 7rem;
  }
  .ptwo{
    margin-left: 7rem;
    font-size: 0.88rem;
  }
  .following{
    margin-left: 12rem;
    font-size:0.6;
  }
  .pthree {
    margin-left: 12rem;
    font-size: 1rem;
  }
  .item4 {
    margin-left: -5rem;
    width: 17rem;
    height: 8rem;
  }
  .sanfrancisco{
    margin-top: -1.4rem;
    margin-left: 2rem;
    font-size: 0.8rem;
  }
  .location {
    margin: 0;
    margin-top: -3rem;
  }
  .link-logo {
    margin-top: 1rem;
  }
  .link {
    margin-top: 1rem;
    margin-left: 0.7rem;
    font-size: 0.8rem;
  }
  .tweeter-logo {
    margin-left: 1rem;
  }
  .available {
    margin-top: 1rem;
    margin-left: 2.5rem;
    font-size: 0.8rem;
  }
  .company-logo {
    margin-top: 1.3rem;
    margin-left: 0.2rem;
  }
  .github-link {
    /* margin-top: -1rem; */
    margin-left: 0rem;
    font-size: 0.8rem; 
  }
}
